# Staging Deployment Configuration
# Note: Ensure that the staging server is properly secured and that you have backups in place.
STAGING_DEPLOY_USER=user
STAGING_DEPLOY_HOST=host
STAGING_DEPLOY_PATH=n8n_home_directory/custom
STAGING_DEPLOY_CONTAINER=n8n

# Production Deployment Configuration
# Note: Ensure that the production server is properly secured and that you have backups in place.
#PRODUCTION_DEPLOY_USER=user
#PRODUCTION_DEPLOY_HOST=host
#PRODUCTION_DEPLOY_PATH=n8n_home_directory/custom
#PRODUCTION_DEPLOY_CONTAINER=n8n